
li{
    display: flex;
    list-style: none;
    border: groove 2px #5C98F8;
    margin: 8px 0;
    height: 38px;
    align-items: center;
    border-radius: 5px;
}

.checkbox{
    width: 17px;
    height: 17px;
    margin: 10px;
}

span{
    color: #5C98F8;
    font-weight: bold;
    width: 255px;
}

.removeButton{
    background-color: #5C98F8;
    color: #fff;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    min-width: 90px;
    min-height: 30px;
    border: none;
}